/* ------------------------------------------------------------------------------- 
			Aside
------------------------------------------------------------------------------- */

aside > ul,
aside > ol {
	margin: 0;
	padding: 0;
}

aside ul li, aside ol li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}


/* ------------------------------------------------------------------------------- 
			Nav
------------------------------------------------------------------------------- */

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav ul li a {
	text-decoration: none
}

header > nav > ul > li,
footer > nav > ul > li {
	float: left;
	line-height: 1.5em;
}

header > nav > ul > li a,
footer > nav > ul > li a {
	float: left;
	padding: 0 1em;
}

/* ------------------------------------------------------------------------------- 
			Link
------------------------------------------------------------------------------- */

a {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}

/* ------------------------------------------------------------------------------- 
			Form
------------------------------------------------------------------------------- */

input{
	width: 97%;
	-webkit-transition: all 0.40s ease-in-out;
	-moz-transition: all 0.40s ease-in-out;
	-ms-transition: all 0.40s ease-in-out;
	-o-transition: all 0.40s ease-in-out;
}
input[type=submit]{
	width: auto;
}

/* ------------------------------------------------------------------------------- 
			Reset Drupal 7
------------------------------------------------------------------------------- */

.form-item, 
.form-actions {
	margin: 0; 
}

ul.tabs.primary {
	margin: 1em 0;
	padding: 0;
	clear: both;
}
ul.tabs.primary li{
	margin: 0 1em;
	padding: 0;
	float: left;
	list-style-type: none;
}

/* Login */
form#user-login .form-item, 
form#user-login .form-actions {
	margin: 1em 0;
}

/* BXSlider */
.js.overlay-open .bx-wrapper {
	display: none;
}